{
    border: 1px solid white;
} 

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

.grid {
    width:100%;
    height:100%;
    position:fixed;
    margin: 0 auto;
}

.row {
    width: 100%;
    height: 100%;
    display: flex;
    margin: 0 auto;
    background-color: #4E2000;
}

.header {
    width: 100%;
    height: 25%;
    background-color: #4E2000;
}

.header .pname {
    font-family: 'Lobster', cursive;
    font-size: 40px;
    color: #FFF8DC;
    margin-left: 5%;
}

.header .subhead {
    font-family: 'Lobster', cursive;
    font-size: 20px;
    color: #FFF8DC;
    margin-left: 5%;   
}

.contact {
    margin-left: 60%;
    margin-top: 0%;
}

.contact a {
    padding: 5px 5px 5px 5px;
}

.imgPos {

}

.sidebar {
    /*width: 16.66%; */
    height: 100%;
    background-color: #4E2000;
    left: 0px;
}

.sidebar-subnav {
    text-align: center;
    font-family: 'Lobster', cursive;
    font-weight: 5px;
    font-size: 30px;
    color: #FFF8DC;
    list-style: none;
    padding-top: 0px;
}

.sidebar-subnav input {
    padding: 10px 10px 10px 5px;
    background-color: #9D5423;
    width: 150px;
    margin: 10px;
    border: none;
}

.sidebar-subnav input:hover {
    background-color: #77370B;
    border: none;
    width: 175px;
    -webkit-transform: 2s ease-out;
    -moz-transform: 2s ease-out;
    -o-transform: 2s ease-out;
    -ms-transform: 2s ease-out;
}

.sidebar-subnav input:active  {
    background-color: #9D5423;
    border: none;
    width: 175px;
    -webkit-transform: 2s ease-out;
    -moz-transform: 2s ease-out;
    -o-transform: 2s ease-out;
    -ms-transform: 2s ease-out;
}

/*.sidebar-subnav input:visited  {
    background-color: #9D5423;
    border: none;
    width: 175px;
    -webkit-transform: 2s ease-out;
    -moz-transform: 2s ease-out;
    -o-transform: 2s ease-out;
    -ms-transform: 2s ease-out;
}*/

.content {
    /*nwidth: 83.33%; */
    width: 80%;
    height: 70%;
    background-color: #BA6F3C;
    padding: 0px 10px 10px 5px;
    position: 0px 10px 10px 0px;
}

hr {
    color: #FFF8DC;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}
